body {
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/sahara.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    
    
}

.game-container {
    position: relative;
    max-width: 720px; /* Maximale Breite des Spiels */
    margin: 0 auto; /* Zentriert das Spiel */
    width: 100%; /* Nimmt die volle Breite des Bildschirms ein */
}

canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
}

@media only screen and (max-width: 640px) {
    .game-container {
        width: 100%; /* Auf kleineren Bildschirmen nimmt das Spiel die volle Breite ein */
    }
}

/* @media only screen and (max-width:720px) {
    .game-container {
        position: relative;
        width: 100%;
        padding-top: 75%; 
        overflow: hidden;
    }
    
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    h1 {
        display: none;
    }

    #controls {
        display: none!important;
    }
    
} */

@media only screen and (max-height:480px) {
    
    canvas {
        height: 100vh;
        
    }
    h1 {
        display: none;
    }
    #controls {
        display:  none!important;
    }
}



.panel1 button, .panel2 button {
    border-radius: 50%; /* Dies macht die Buttons rund */
    width: 50px;
    height: 50px;
    margin: 10px;
}

.panel1 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0; /* Positioniert das Panel am oberen Rand des Canvas */
    
}

.panel1 img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 4px;
}

.panel2 {   
    position: absolute;
    bottom: 0; /* Positioniert das Panel am unteren Rand des Canvas */
    width: 100%;
    display: none;
    justify-content: space-between;  
}
.panel2 img {
    width: 60px;
    height: 60px;
    
}

.jump-throw-div {
    margin-right: 60px;
    align-items: center;
    display: flex;
}
.right-left-div {
    margin-left: 60px;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 720px), only screen and (max-height: 480px) {
    .panel2 {
        display: flex; /* Zeigt die Buttons auf kleineren Bildschirmen an */
    }
    .introduction {
        display: none!important;
    }
}

@media(min-width: 200px) {
    .introduction {
        display: none;
    }
}



#play-button {
    background-image: url('./img/move-button/icons8-schaltfläche-_wiedergabe_-eingekreist-50.png');
    background-size: cover;
}

#mute-button {
    background-image: url('./img/move-button/icons8-hohe-lautstärke-50.png');
    background-size: cover;
}

#left-button {
    background-image: url('./img/move-button/icons8-eingekreistes-rangabzeichen-links-64.png');
    background-size: cover;
    margin-right: 50px;
}

#right-button {
    background-image: url('./img/move-button/icons8-eingekreistes-rangabzeichen-rechts-64.png');
    background-size: cover;
}

#jump-button {
    background-image: url('./img/move-button/icons8-eingekreistes-rangabzeichen-oben-64.png');
    background-size: cover;
}

#throw-bottle {
    background-image: url('./img/6_salsa_bottle/salsa_bottle.png');
    background-size: cover;
    margin-left: 50px;
    width: 70px;
    height: 70px;
    border: 3px solid black;

}

#fullscreen {
    background-image: url('./img/move-button/fullback.png');
    background-size: cover;
}



#controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

button {
    background: rgba(146, 96, 52, 0.5);  /* Braun für einen rustikalen Look */
    color: #fff;  /* Weißer Text */
    border: none;  
    border-radius: 5px;  /* Abgerundete Ecken */
    padding: 10px 20px;  /* Polsterung um den Text */
    font-size: 16px;  /* Schriftgröße */
    cursor: pointer;  /* Zeigt den Mauszeiger als Hand */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Fügt einen Schlagschatten hinzu */
    transition: all 0.3s ease;  /* Animation für den Hover-Effekt */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

button:hover {
    background: #914e00;  /* Dunklerer Braunton beim Darüberfahren */
}

button:active {
    transform: scale(0.95);  /* Schrumpft den Button etwas beim Klicken */
}

button:focus {
    outline: none;  /* Entfernt den blauen Umriss beim Fokussieren */
}

#game-over {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over h1 {
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#game-over button {
    margin-top: 20px;
}

.d-none {
    display: none;
}

#lost img {
    width: 100%;
}
#win img {
    width: 100%;
}

#restart-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#turn-device {
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    

}
#turn-device img {
    width: 50%;
    
}

.introduction {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    background-color: rgba(146, 96, 52, 0.9);
    font-size: 17.5px;
    width: 100%;
    height: 60px;
}

.introduction-div {
    display: flex;
    align-items: center;
    
    
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #000;
    border: 1px solid #999;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    color: #fff; /* Textfarbe auf Weiß setzen */
  }
  
  .d-key {
    font-weight: bold;
  }

  .mg-20 {
    margin-right: 10px;
    
  }

  #how-to-play {
    position: absolute;
    max-width: 720px;
    border: 2px solid black;
    top: 0;
    background-color: rgba(146, 96, 52, 0.95);
    padding: 20px;
    border-radius: 10px;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#how-to-play.expanded {
    max-height: 800px; /* Diese Höhe sollte so eingestellt werden, dass sie alle Inhalte aufnehmen kann, wenn das Element erweitert ist */
    transition: max-height 1s ease-in;
}

#how-to-play h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#how-to-play ol {
    list-style-type: decimal;
    margin-left: 20px;
    
}

#how-to-play li {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.4;
}